---
export const prerender = false;

import Downloaded from "../../../components/Downloaded.astro";
import DownloadRoot from "../../../layouts/DownloadRoot.astro";
import { GITHUB_OWNER, GITHUB_REPO } from "../../../lib/constants";
const { os, rest } = Astro.params as { os: string; rest: string };
const parts = rest ? rest.split('/') : [];
const version = parts[0];
const filename = parts[1];

// Return 400 if version or filename are missing
if (!version || !filename) {
    return new Response(null, {
        status: 400,
        statusText: 'Bad Request: Missing version or filename'
    });
}
---


<div style="height: 101vh;">
    <div style="display: none;">
        <a id="downloaderAnchor" href={`https://github.com/${GITHUB_OWNER}/${GITHUB_REPO}/releases/download/${version}/${filename}`} download="OATTS"/>
    </div>
    <DownloadRoot>
        <Downloaded os={os} version={version} filename={filename} />
    </DownloadRoot>
</div>
<script>
    const downloader = document.getElementById('downloaderAnchor');
    downloader?.click()
</script>